@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
}
/* header  */
.top-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background: rgb(12, 12, 184);
	height: 600px;
}
.hedaer-section {
	margin-top: 30px;
	margin-left: 100px;
}
.header-title {
	color: white;
	font-weight: 700px;
	font-size: 40px;
}
a {
	text-decoration: none;
	color: white;
	background-color: #e02c6d;
	padding: 10px 24px;
	margin-top: 0;
}
.img-section img {
	width: 556px;
	height: 438px;
	margin-top: 20px;
}
.img-section img:hover {
	transform: scale(1.5);
	transition-duration: 1s;
	transition-delay: 0.5s;
}
/* players */
.players {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 30px;
	grid-column-gap: 30px;
	margin: 0 150px;
	margin-top: 70px;
	justify-content: center;
}
.player {
	box-shadow: 10px 10px 10px 10px whitesmoke;
	align-items: center;
	padding: 0 15px;
}
.player-img img {
	width: 315px;
	height: 271px;
}
/* highlights */
.highlights {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 150px;
}
.highlights-info {
	text-align: left;
	width: 466px;
	height: 309px;
	margin-left: 180px;
	margin-top: 0;
}
.highlights-info h1 {
	font-size: 38px;
}
.highlights-info a {
	text-decoration: none;
	color: white;
	background-color: #e02c6d;
	padding: 10px 24px;
	margin-top: 0;
	float: left;
}
.highlights-info p {
	text-align: justify;
	font-size: 16px;
	margin-top: 0;
}
.match-img img {
	width: 560px;
	height: 420px;
}
/* footer */
.end-container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	margin-top: 100px;
}
.footer-logo img {
	width: 400px;
	height: 80px;
}
#icon {
	margin-right: 20px;
}
/* media queries */
@media only screen and (max-width: 688px) {
	.top-container,
	.players,
	.highlights,
	.end-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
@media only screen and (min-width: 688px) and (max-width: 992px) {
	.top-container,
	.players,
	.highlights,
	.end-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		/* align-items: center; */
		justify-content: center;
	}
}
